# This workflow will upload docs to the gh-pages branch whenever something is pushed to master.

name: Docs
on:
  push:
    branches:
      - main

jobs:
  upload_docs:
    name: upload docs
    runs-on: ubuntu-20.04
    env:
      GRGIT_USER: ${{ secrets.GRGIT_USER }}
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Publish docs with Gradle
        run: gradle --stacktrace --info gitPublishPush
